$base-color-blue: #39B54A;
$bg-gradient: linear-gradient(#0E76BC, #25ABE2);
$bg-transit: rgb(255, 255, 255);
$txt-color-main: black;
$txt-color-negative: white;
$txt-color-blue: #0E76BC;

$aside-width: 200px;
$fs-1: 6rem;
$fs-3: 3rem;