$base-color-blue: #25ABE2;
$base-color-yellow: #f6ff00;
$base-color-green: #04c441;
$base-color-red: #f7545f;
$bg-gradient: linear-gradient(#0E76BC, #25ABE2);
$bg-gradient-correct: linear-gradient(#007f1b, #04c441);
$bg-gradient-wrong: linear-gradient(#f7545f, #ff5959);
$bg-transit: rgb(255, 255, 255);
$txt-color-main: black;
$txt-color-negative: white;
$txt-color-blue: #0E76BC;

$aside-width: 200px;
$fs-1: 6rem;
$fs-3: 3rem;