@import 'import/variables';
@import 'import/form';
@import 'import/header';
html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $bg-gradient;
  min-height: 100vh;
  overflow-x: hidden;
}

.container-fluid {
  padding: 2rem;
}

.main-container {
  height: 100%;
  min-height: 100vh;
}

.logo-font {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 1.5rem;
}

.fs-1 {
  font-size: $fs-1;
}

.fs-3 {
  font-size: $fs-3;
}

.bg-transit {
  background-color: $bg-transit !important;
  color:  $txt-color-main;
}

.btn-blue {
  background-color: $base-color-blue !important;
}

.btn-transit {
  background-color: transparent !important;
  border: 1px solid $base-color-blue !important;
  color: $base-color-blue !important;
  &:hover {
    background: $base-color-blue !important;
    color: $txt-color-main;
    border-radius: 5px;
    box-shadow: 0 0 20px $base-color-blue;
  }
}

.btn-transit2 {
  background-color: transparent !important;
  border: 1px solid $txt-color-main !important;
  color: $txt-color-main !important;
  &:hover {
    box-shadow: 0 0 20px red;
    color: $txt-color-main !important;
  }
}

.btn-transit3 {
  background-color: transparent !important;
  border: 1px solid $base-color-yellow !important;
  color: $txt-color-main !important;
  &:hover {
    box-shadow: 0 0 20px $base-color-yellow;
    background-color: $base-color-yellow !important;
    color: $txt-color-main !important;
  }
}

.card {
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  .row {
    padding: 1rem 0 !important;
  }
}

a,
button {
  text-decoration: none !important;

  

  &:hover {

    color: $txt-color-main !important;
  }
}

a.hyper-item {
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    display: block;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: $base-color-blue;
    transition: 0.35s;
  }

  &:hover {
    color: #fff;

    span {
      left: 0;

    }
  }

}




/* SIDEBAR */
.sidebar {
  width: $aside-width;
  min-height: calc(100vh - 54px);
  display: block;
  background: $bg-transit;
  position: absolute;

  &-box-logo {
    justify-content: center;
  }

  a {
    display: block;
    padding: 10px 30px;
    color: $txt-color-main;
  }

  button.btn {
    color: $txt-color-main;
    padding: 10px 30px;
    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }
  }


  .btn:focus {
    box-shadow: none !important;
  } 

  box-sizing: border-box;
  box-shadow: 1px 15px 12px rgba(0, 0, 0, 0.6);
}

/* HEADER */
header {
  .container {
    .row {
      justify-content: end;
    }
  }
}


/* PAGE WRAPPER */
.page-wrapper {
  margin-left: $aside-width;
  position: relative;
}

.form-box {
   max-width: 800px !important;
}


/* PROFILE */
.card {
  background-color: $bg-transit !important;
  color:  $txt-color-main !important;
  overflow-x: hidden;
  max-height: 80vh;

  .btn-blue {
    i {
      color: rgba(0, 0, 0, 0.8) !important;
    }
    &.fb:hover {
      background-color: rgb(62, 88, 202) !important;
      i {
        color: rgb(255, 255, 255) !important;
      }
    }
    &.ig:hover {
      background-color: rgb(182, 67, 217) !important;
      i {
        color: rgb(255, 255, 255) !important;
      }
    }
  }
}


/* QUIZZES */
.quiz {
  transition: .5s;
  color:  $txt-color-main;
  &:hover {
    box-shadow: 0px 0px 12px 1px $base-color-blue;
    color:  $txt-color-main;
  }
}

/* FILTER */
.filter-box {
  form {
    justify-content: space-between;
  }
}


footer {
  background: $bg-transit;
  position: fixed;
  left: 0;
  bottom: 0;
  p {
    margin: 0 !important;
    padding: 2px;
  }
}